@model WebProjectManagementSystem.Models.User

@{
    ViewData["Title"] = "Register";
}

<style>
    body {
        margin: 0;
        min-height: 100vh; /* Позволява съдържанието да расте над видимата част */
        overflow-x: hidden; /* Скрива само хоризонталното преливане */
        background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/images/background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Прави фона фиксиран */
        color: black; /* Примерен цвят на текста */
    }
</style>

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" name="Username" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" name="PasswordHash" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="Email" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" name="FirstName" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" name="LastName" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="RoleType">Role</label>
        <select name="RoleType" class="form-control">
            <option value="User">User</option>
            <option value="Admin">Admin</option>
        </select>
    </div>
    <br />
    <center><button type="submit" class="btn btn-primary">Register</button></center>
</form>

