@{
    ViewData["Title"] = "Privacy";
}

<style>
    body {
        margin: 0;
        min-height: 100vh; /* Позволява съдържанието да расте над видимата част */
        overflow-x: hidden; /* Скрива само хоризонталното преливане */
        background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/images/background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Прави фона фиксиран */
        color: black; /* Примерен цвят на текста */
    }
</style>

<center><h1>@ViewData["Title"]</h1></center>

<p>
    <h5>Introduction</h5>
    At <b>ProjectPanda</b>, we value your privacy and are committed to protecting your personal data. This Privacy Policy explains how we collect, use, and safeguard your information when you visit our website or use our services. By using our website or services, you agree to the collection and use of information in accordance with this policy.
    <br />
    <h5>Information We Collect</h5>
    We may collect and process various types of personal information, including your name, email address, phone number, and other contact details. This information is collected when you register on our site, make a purchase, or communicate with us.
    <br />
    <h5>How We Use Your Information</h5>
    The information we collect is used to provide, maintain, and improve our services, process transactions, and communicate with you. We may use your contact information to send you updates about our products, services, or promotions. You have the right to opt out of receiving such communications at any time.
    We employ various security measures to protect your personal information from unauthorized access or destruction. However, no method of transmission over the internet or method of electronic storage is completely secure, and we cannot guarantee absolute security.
    <br />
    <h5>Third-Party Disclosure</h5>
    We do not sell, trade, or otherwise transfer your personal information to outside parties without your consent, except as required by law or as necessary to provide our services. We may share your information with trusted third parties who assist us in operating our website, provided that those parties agree to keep your information confidential.
    <br />
    <h5>Your Rights</h5>
    You have the right to access, correct, or delete your personal information that we hold. If you have any concerns about how your information is handled, please contact us using the details provided below.
    <br /> <br />
    If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at <b>office@panda.com</b>
</p>
